.app {
  font-family: Arial, sans-serif;
  padding: 10px;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 96vh;
  background: pink;
}
.search_side {
  flex: 1;
  border: solid 2px black;
  padding: 10px;
}
.music_center {
  flex: 1;
  border: solid 2px black;
  padding: 10px;
  overflow: hidden;
  display: flex;
}
.search_side.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .results.list {
    flex: 1;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    .layout_buttons {
      display: flex;
      gap: 5px;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.search-container {
  display: flex;
  gap: 10px;
  height: 2em;
}

#track-search {
  padding: 0px 10px;
}

.results.list .result-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.results.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.results.tile {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.result-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.result-item:hover {
  background: white;
  color: black;
}
.recent-searches-item:hover {
  background: white;
  color: black;
}

.image-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
  opacity: 1;
  &.fade-out {
    opacity: 0;
  }
  &.fade-in {
    opacity: 1;
  }
}

.player {
  margin-top: auto;
}

.image-container .selected-image {
  max-width: 100%;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in;
}

.recent-searches {
  .title {
    margin-top: unset;
  }
}

.recent-searches ul {
  list-style: none;
  padding: 0;
}

.recent-searches li {
  cursor: pointer;
  padding: 5px 0;
  color: blue;
}

